header {
  background-color: #DFDFDF;
   padding: 10px;
   text-align: center;
   box-shadow: 0 0 10px rgb(57, 56, 56);
   display:flex;
   justify-content:space-between;
 }
 .img1{
   width:150px;
   height:100px;
   background-size:100%;
   margin-left: 60px;
 }
 h1 {
   color: #445964;
   font-size: 40px;
   margin-bottom: 20px;
 }
 p{
   color: #445964;
   font-size: 16px;
   margin-top: 10px;
 }
 .navbar {
   margin-top: 40px;
   text-align: right;
 }
 .navbar ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 .navbar li {
   display: inline-block;
   margin-right: 25px;
 }
 
 .navbar a {
   color: #445964;
   text-decoration: none;
   font-size: 20px;
   padding: 10px 20px;
   border-radius: 10px;
   border: 2px solid #445964;
 }
 
 .navbar a:hover {
   color: #000000;
 }